$navwidth : 200px

body
	font-family : "Times New Roman" , Georgia , Serif

.logo
	width : $navwidth

.validite
	width : $navwidth / 2
	position : absolute
	bottom : 0
//margin-left : $navwidth / 4 si on veut centrer

.nav
	font-size : 120%
	text-align : left

nav
	float : left
	width : $navwidth
	font-size : 80%
	border-right : 1px gray ridge
	min-height : 600px

section
	margin-left : $navwidth
	border-left : 4px
	padding-left : 4px
	//border-left : 1px gray ridge
	//min-height : 600px

h1
	font-size : 400%
	text-align : center
	//text-decoration : underline

h2
	font-size : 300%
	font-style: italic
	margin-left : 10px
	margin-right : 10px
