<!DOCTYPE html>
<head>
	<title><?=$title?></title>
	<meta charset=utf-8>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
	<nav>
		<img src='/ressources/logo.png' alt='logo' class='logo'/><!--logo-->
		<ul>
			<li><h1 class='nav'><a href='/index.php'>Accueil</a></h1></li>
			<li><h1 class='nav'>Permis de conduire</h1>
				<ul>
					<li><a href='/permis/code.php'>Code de la route</a></li>
					<li><a href='/permis/exam.php'>Examen</a></li>
					<li><a href='/permis/conseils.php'>Conseils</a></li>
					<li><a href='/permis/media.php'>Médias</a></li>
				</ul>
			</li>
			<li><h1 class='nav'>La route</h1>
				<ul>
					<li><a href='/route/hist.php'>Historique</a></li>
					<li><a href='/route/danger.php'>Dangers</a></li>
				</ul>
			</li>
			<li><h1 class='nav'>Entraînement</h1>
				<ul>
					<li><a href='/entrainement/panneaux.php'>Quelques panneaux</a></li>
					<li><a href='/entrainement/quizz.php'>Quizz</a></li>
				</ul>
			</li>
		</ul>
		<a href="http://validator.w3.org/check?uri=referer"><img src='/ressources/valid.png' alt="tellement valide que l'image s'affiche pas" class='validite'/></a><!--image validation,penser à remplacer 'referer' par l'URI du site lorsqu'il sera en ligne-->
		<a href='/credits.php' class='credits'>A propos</a>
	</nav>
	<div class='head'>
		<h1><?=$title?></h1>
	</div>
	<section>
