<!DOCTYPE html>
<head>
	<title><?=$title?></title>
	<meta charset=utf-8>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
	<nav>
		<img src='/logo.png' alt='logo' class='logo'/><!--logo-->
		<ul>
			<li>blabla
				<ul>
					<li>blabla</li>
					<li>blabla</li>
					<li>blabla</li>
				</ul>
			</li>
			<li>blabla
				<ul>
					<li>blabla</li>
					<li>blabla</li>
					<li>blabla</li>
				</ul>
			</li>
			<li>blabla
				<ul>
					<li>blabla</li>
					<li>blabla</li>
					<li>blabla</li>
				</ul>
			</li>
		</ul>
		<a href="http://validator.w3.org/check?uri=referer"><img src='/valid.png' alt="tellement valide que l'image s'affiche pas" class='validite'/></a><!--image validation,penser à remplacer 'referer' par l'URI du site lorsqu'il sera en ligne-->
	</nav>
	<section>
